[Desktop Entry]
Version=1.0
Type=Application
Name=Install BarRestaurantTicketing
Comment=Prepare BarRestaurantTicketing and create desktop buttons
Exec=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing/Install_BarRestaurantTicketing.sh
Path=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing
Terminal=true
Categories=Office;Utility;
