[Desktop Entry]
Version=1.0
Type=Application
Name=Start BarRestaurantTicketing
Comment=Start the local BarRestaurantTicketing POS application
Exec=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing/Start_BarRestaurantTicketing.sh
Path=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing
Terminal=true
Categories=Office;Utility;
