[Desktop Entry]
Version=1.0
Type=Application
Name=Stop BarRestaurantTicketing
Comment=Stop the local BarRestaurantTicketing POS application
Exec=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing/Stop_BarRestaurantTicketing.sh
Path=/home/jinheng/Desktop/BarRestaurantTicketing./BarRestaurantTicketing
Terminal=true
Categories=Office;Utility;
